@import '/src/styles/variables.scss';

.logIn {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .logInContainer {
    height: 100%;
    margin-top: 20px;
    padding-bottom: 5px;

    h2 {
      display: flex;
      flex-direction: column;
      text-align: center;
      font-family: 'Nanum Gothic', sans-serif;
      font-size: 18px;
      font-weight: bold;
      color: #222222;
    }

    .logInForm {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 150px;
      padding: 10px;
    }

    input .logInInput {
      padding: 15px 15px;
      font-size: 50px;
    }

    .logInInput {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: row;
      margin: -5px;
      padding: 0 100px;
      color: #ececec;
      border: 1px solid #ececec;
      position: relative;

      .checkBox {
        width: 10px;
        height: 10px;
        margin: 10px;
        padding-right: 0 20px;
        outline-width: 4px solid #ececec;

        .button {
          width: 300px;
          height: 40px;
          border-radius: 5px;
          margin: -30px;
          font-size: 15px;
          font-weight: normal;
          background-color: #f9cc33;
          color: 222222;
          border: 1px solid #ececec;
          position: absolute;
          left: 20%;
          top: 10%;
        }
      }
    }

    // p {
    //   margin-top: 100px;
    //   bottom: 50px;
    //   font-size: 15px;
    //   line-height: normal;
    // }

    // a {
    //   text-decoration: none;
    //   color: $black;
    // }

    // a:hover,
    // button:hover {
    //   cursor: pointer;
    // }
  }
  a.forGotId,
  a.forGotPw {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
