@import '/src/styles/variables.scss';

.logIn {
  width: 100%;
  height: 750px;
  padding: 10px;
  flex-direction: column;
  background-color: #ffffff;

  .logInContainer {
    margin-top: 90px;

    h1 {
      display: flex;
      justify-content: center;
      align-content: center;
      height: 50px;
      margin: 0 auto;
      padding: 0 0 0 10px;
      margin-top: 20px;
      font-family: 'Nanum Gothic', sans-serif;
      font-size: 20px;
      font-weight: bold;
      line-height: 50px;
      text-align: center;
      color: #222222;
    }

    .logInForm {
      display: flex-start;
      justify-content: center;
      align-items: center;
      margin-left: 600px;
    }

    .logInInput {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: column;
      width: 350px;
      margin-top: 10px;
      padding: 0 20px;
      line-height: 50px;
      border-radius: 5px;
      color: #ececec;
      border-color: #ececec;

      .logInInputPw {
        display: flex;
        flex-direction: center;
        justify-content: center;
        align-items: row;
        width: 350px;
        margin-top: 15px;
        padding: 0 20px;
        font-size: 14px;
        line-height: 50px;
        border-radius: 5px;
        color: #ececec;
        border-color: #ececec;
      }

      a {
        display: inline-block;
        padding: 20px 0 30px;
        font-size: 14px;
        width: 30%;
        text-decoration: none;
        color: #787878;
      }

      a:hover,
      button:hover {
        cursor: pointer;
        font-size: 16px;
      }

      p {
        margin: -10px 70px;
        padding: 15px 30px;
        font-size: 16px;
        line-height: 50px;
        color: #787878;
      }

      .checkBox {
        position: fixed;
        width: 5px;
        height: 10px;
        margin-top: 100px;
        padding: 10px;
        top: 210px;
        left: 700px;
        border-radius: 15px 15px 15px 15px;
        border: 1px solid #787878;
      }

      .button {
        // position: fixed;
        position: absolute;
        width: 350px;
        margin-top: 300px;
        text-align: center;
        line-height: 50px;
        border-radius: 5px;
        font-size: 15px;
        font-weight: normal;
        background-color: #f9cc33;
        color: 222222;
        border: 1px solid #ececec;
      }

      .forGotContainer {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      a.forGotId,
      a.forGotPw {
        line-height: 10px;
        font-weight: 300;
        letter-spacing: 1px;
        color: #787878;
      }
    }
  }
}
