@import '/src/styles/variables.scss';

.product {
  display: flex;
  flex-direction: column;
  margin: 70px 20px 0 0;

  .productImage {
    margin-bottom: 12px;
    width: 250px;
    height: 250px;
    border-radius: 2px;
  }

  .productImage:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.3s;
  }

  .productInfo {
    color: gray;
    font-size: 14px;
  }

  .productName {
    margin-top: 15px;
    font-weight: 700;
  }

  .priceInfo {
    line-height: 250%;
    font-size: 15px;

    .discountRate {
      color: #ea565e;
      font-weight: 700;
    }

    .productPrice {
      margin: 0 10px 0 5px;
      color: gray;
      text-decoration: line-through;
    }

    .discountedPrice {
      font-weight: 700;
    }
  }

  .otherInfo {
    display: flex;
    align-items: center;
    font-size: 11px;

    .productSize {
      display: inline-block;
      padding: 2px 5px;
      margin-right: 3px;
      background-color: $yellow;
      border-radius: 20px;
      color: white;
    }

    .delivery {
      display: inline-block;
      padding: 3px 8px;
      margin-left: 10px;
      background-color: lightgray;
      border-radius: 20px;
    }
  }
}
