@import '/src/styles/variables.scss';

.forGotContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

a.forGotId,
a.forGotPw {
  line-height: 10px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #787878;
}
