@import '/src/styles/variables.scss';

.logInForm {
  display: flex-start;
  justify-content: center;
  align-items: center;
  margin-left: 600px;
}

.logInInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: column;
  width: 350px;
  margin-top: 10px;
  padding: 0 20px;
  line-height: 50px;
  border-radius: 5px;
  color: #ececec;
  border-color: #ececec;

  .logInInputPw {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: row;
    width: 350px;
    margin-top: 15px;
    padding: 0 20px;
    font-size: 14px;
    line-height: 50px;
    border-radius: 5px;
    color: #ececec;
    border-color: #ececec;
  }

  .checkBox {
    position: fixed;
    width: 5px;
    height: 10px;
    margin-top: 100px;
    padding: 10px;
    top: 210px;
    left: 700px;
    border-radius: 15px 15px 15px 15px;
    border: 1px solid #787878;
  }

  .button {
    position: absolute;
    width: 350px;
    margin-top: 300px;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: normal;
    background-color: #f9cc33;
    color: 222222;
    border: 1px solid #ececec;
  }
}
