@import '/src/styles/variables.scss';

.productAdd {
  margin-bottom: 6px;
  padding: 15px 25px;
  background-color: $gray;
  border-radius: 5px;
  font-weight: 700;

  .productRow {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }
}
