@import '/src/styles/variables.scss';

.footer {
  padding: 80px 160px;
  background-color: $black;
  color: white;

  p {
    line-height: 160%;
  }

  .footerColumn {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .snsIcon {
      margin-bottom: 10px;

      .snsLogo {
        width: 35px;
        margin-right: 20px;
      }
    }

    .callcenter {
      display: flex;
      align-items: center;

      .bigFont {
        font-size: 22px;
        font-weight: 700;
      }

      .smallFont {
        margin-left: 10px;
        font-size: 14px;
        color: gray;
      }

      .callcenterBtn {
        padding: 10px 18px;
        margin-left: 15px;
        border: 1px solid white;
        border-radius: 20px;
        color: white;
        background: none;
      }
    }

    .logo {
      width: 65px;
    }
  }

  hr {
    margin: 20px 0;
    border: 0;
    height: 1px;
    background: gray;
  }

  .footerBottom {
    font-size: 14px;

    .margin {
      margin-left: 25px;
    }
  }
}
